body {
  background-color: #2e2333;
}

img {
  display: block;
  width: 100%;
  // height: auto;
  height: 30vh;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.page-header {
  background-color: #707070;
}

.submit:hover {
  background-color: palegoldenrod;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.search-form input {
  width: 300px;
  height: 100%;
  margin-right: 40px;
  padding: 10px;
}

input {
  font-size: 12px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.search-form button {
  height: 100%;
  display: flex;
}

button {
  border: transparent 1px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gallery__link {
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item__img {
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.load-more {
  border-radius: 9px;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  color: #303030;
  margin-top: 40px;
  margin-bottom: 40px;
}

.load-more.is-hidden {
  display: none;
}

.load-more:hover {
  color: #fdfdfd;
  background-color: rgb(7, 7, 139);
}

.btn-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fdfdfd;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}